<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Metadata管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/elementui-2.3.8.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">
    <!--<link rel="stylesheet" type="text/css" media="screen" href="css/zsfund-component.css">-->
    <script src="js/libs/jquery-3.2.1.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/vue.min.js"></script>
    <script src="js/libs/elementui-2.3.8.js"></script>
    <!--useing Class-->
    <script src="js/components/zsfund-componet.js"></script>
    <script src="js/components/Common.js"></script>
    <style>
        .el-button i {
            font-size: 18px;
        }

        html, body {
            min-height: 100%;
        }

        #app, #app > .el-container {
            height: 100%;
            min-height: 100vh;
        }

        .content .el-header {
            text-align: right;
            padding: 20px 10px 0;
        }

        .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
            background-color: #f0f7ff;
        }

        .el-aside {
            background-color: rgb(238, 241, 246);
            min-width: 220px;
            max-width: 350px;
        }

        .el-aside .el-header {
            /*background-color: #fff;*/
        }

        .el-aside .el-tree {
            width: 100%;
            padding: 10px;
            margin: 2px;
        }

        .el-input {
            width: auto !important;
        }

        .el-dialog .el-input input {
            height: 32px;
        }

        .el-dialog .el-input .el-input__icon {
            line-height: 32px;
        }

        .el-form-item {
            margin-bottom: 14px;
            max-width: 600px;
        }

        .el-form-item__label, .el-form-item__content {
            line-height: 32px;
        }

        .el-form .el-table {
            margin: 0;
        }

        .el-form .el-table td, .el-form .el-table th {
            padding: 0;
            border-width: 0;
            height: 35px;
            /*min-height: 35px;*/
        }

        .el-table {
            width: 100%;
            margin: 20px 0 20px 30px;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            /*max-height:100%;*/
        }

        .el-dialog .el-table::before {
            height: 0;
        }

        .el-dialog {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
        }

        .el-dialog__body {
            padding: 30px 20px 10px;
        }


        .el-switch .el-switch__core {
            outline-width: 0 !important;
        }

    </style>
</head>
<body>
    <div id="app">
        <el-container>
            <el-aside width="30%">
                <el-container>
                    <el-header height="auto">
                        <el-button icon="el-icon-plus" size="mini" circle @click="handleTreeAdd"></el-button>
                        <el-button icon="el-icon-delete" size="mini" circle @click="handleTreeDelete"></el-button>
                        <el-button icon="el-icon-edit" size="mini" circle @click="handleTreeEdit"></el-button>
                        <el-button icon="el-icon-refresh" size="mini" circle @click="handleTreeReset"></el-button>
                    </el-header>
                    <el-container>
                        <el-tree :props="props" :data="treeData" node-key="objectId"
                                 highlight-current default-expand-all :expand-on-click-node="false"
                                 ref="asideTree" @current-change="handleCurrentChange"></el-tree>
                    </el-container>
                </el-container>
            </el-aside>
            <el-container class="content">
                <el-header height="auto">
                    <el-input v-model="searchInput" placeholder="请输入内容"></el-input>
                    <el-button icon="el-icon-search" circle @click="initSearchData"></el-button>
                    <el-button icon="el-icon-plus" circle @click="handleTableAdd"></el-button>
                </el-header>
                <el-container>
                    <el-table :data="tableData" border>
                        <el-table-column prop="metaDetailName" label="Key">
                        </el-table-column>
                        <el-table-column prop="metaDetailValue" label="Value">
                        </el-table-column>
                        <el-table-column prop="sort" label="Index" :resizable="false" header-align="center" align="center" width="60">
                        </el-table-column>
                        <el-table-column prop="description" label="Description" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="operation" label="" width="95">
                            <template slot-scope="scope">
                                <el-button icon="el-icon-edit" size="mini" circle @click="handleTableEdit(scope.$index, scope.row)"></el-button>
                                <el-popover placement="top" width="160" v-model="tableDeleteVisible[scope.$index]">
                                    <p>确定删除？</p>
                                    <div style="text-align: right; margin: 0">
                                        <el-button size="mini" type="text" @click="tableDeleteVisible[scope.$index]=false">取消</el-button>
                                        <el-button type="primary" size="mini" @click="tableDeleteVisible[scope.$index]=false;handleTableDelete(tableData,scope.$index, scope.row)">确定</el-button>
                                    </div>
                                    <el-button slot="reference" icon="el-icon-delete" type="danger" size="mini" circle @click="tableDeleteVisible[scope.$index]=true"></el-button>
                                </el-popover>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-container>
            </el-container>
        </el-container>

        <el-dialog :visible.sync="treeDialogVisible" :close-on-click-modal="false" top="10vh" width="510px">
            <div slot="title" class="el-dialog__title">
                {{treeForm.formTitle}}
            </div>
            <el-form :model="treeForm">
                <el-form-item label="父目录" :label-width="formLabelWidth">
                    <span>{{treeForm.metaCategoryPath}}</span>
                </el-form-item>
                <el-form-item label="名称" :label-width="formLabelWidth">
                    <el-input v-model="treeForm.metaCategoryName" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="值类型" :label-width="formLabelWidth">
                    <el-select v-model="treeForm.metaCategoryType">
                        <el-option v-for="(value,key) in mataCategoryTypeList"
                                   :label="key" :value="value"></el-option>
                        <el-option label="Entities" :value="Metadata.MetadataProprertyTypeEnum.Entities"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="实体属性" :label-width="formLabelWidth"
                              v-if="treeForm.metaCategoryType==Metadata.MetadataProprertyTypeEnum.Entities">
                    <!--<el-button size="mini" @click="treeFormAdd()">添加属性</el-button>-->
                    <el-table :data="metaTreeData" cell-style="{border-width:0;}">
                        <el-table-column prop="metaCategoryType" label="值类型" header-align="center" width="130">
                            <el-select slot-scope="scope" v-model="metaTreeData[scope.$index].metaCategoryType">
                                <el-option v-for="(value,key) in mataCategoryTypeList"
                                           :label="key" :value="value"></el-option>
                            </el-select>
                        </el-table-column>
                        <el-table-column prop="metaCategoryName" label="值名称" header-align="center" width="200">
                            <el-input slot-scope="scope" v-model="metaTreeData[scope.$index].metaCategoryName"></el-input>
                        </el-table-column>
                        <el-table-column header-align="center" width="50">
                            <template slot-scope="scope">
                                <el-button v-if="scope.$index>0" icon="el-icon-delete" size="mini" circle
                                           @click="handleTableDelete(metaTreeData,scope.$index, scope.row)"></el-button>
                                <el-button v-else icon="el-icon-plus" size="mini" circle
                                           @click="treeFormAdd()"></el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-form-item>
                <el-form-item label="外部数据源" :label-width="formLabelWidth">
                    <el-tooltip :content="externSwitch" placement="top">
                        <el-switch v-model="externSwitch" active-color="#13ce66" active-value="on" inactive-value="off">
                        </el-switch>
                    </el-tooltip>
                </el-form-item>
                <el-form-item label="数据源Url" :label-width="formLabelWidth"
                              v-if="treeForm.isExternal==true">
                    <el-input v-model="treeForm.externalWebApi" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="描述" :label-width="formLabelWidth">
                    <el-input type="textarea" v-model="treeForm.description" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="treeDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="treeFormConfirm">确 定</el-button>
            </div>
        </el-dialog>
        
        <el-dialog :visible.sync="tableDialogVisible" :close-on-click-modal="false" top="10vh" width="510px">
            <div slot="title" class="el-dialog__title">
                {{tableForm.formTitle}}
            </div>
            <el-form :model="treeForm">
                <el-form-item label="所在目录" :label-width="formLabelWidth">
                    <span>{{tableForm.categoryPath}}</span>
                </el-form-item>
                <el-form-item label="Key" :label-width="formLabelWidth">
                    <el-input v-model="tableForm.metaDetailName" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Value" :label-width="formLabelWidth">
                    <el-input v-model="tableForm.metaDetailValue" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Index" :label-width="formLabelWidth">
                    <el-input-number size="small" v-model="tableForm.sort"></el-input-number>
                </el-form-item>
                <el-form-item label="描述" :label-width="formLabelWidth">
                    <el-input type="textarea" v-model="tableForm.description" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="tableDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="tableFormConfirm">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</body>
<script>
    var vm = new Vue({
        el: "#app",
        data() {
            return {
                //global
                baseUrl: "http://10.10.0.175:8088",
                //tree
                props: {
                    label: 'metaCategoryName',
                    children: 'inverseParent'
                },
                treeData: [],
                //tree form
                treeDialogVisible: false,
                treeForm: {
                    objectId: 0,
                    parentId: 0,
                    formTitle: "",
                    metaCategoryPath: "/",
                    metaCategoryName: '',
                    metaCategoryType: Metadata.MetadataProprertyTypeEnum.String,
                    keyValueMetadata: "",
                    isExternal: false,
                    externalWebApi: null,
                    description: null,
                    isDeleted: false,
                    permissionInherited: true
                },
                formLabelWidth: '90px',
                mataCategoryTypeList: {
                    String: Metadata.MetadataProprertyTypeEnum.String,
                    Number: Metadata.MetadataProprertyTypeEnum.Number,
                    DateTime: Metadata.MetadataProprertyTypeEnum.DateTime,
                    Boolean: Metadata.MetadataProprertyTypeEnum.Boolean,
                    //Entities: Metadata.MetadataProprertyTypeEnum.Entities
                },
                externSwitch: "off",
                metaTreeData: [{
                    metaCategoryName: "",
                    metaCategoryType: Metadata.MetadataProprertyTypeEnum.String
                }],
                //search
                searchInput: "",
                //table
                tableData: [],
                tableDeleteVisible: [],
                //table form
                tableDialogVisible: false,
                tableForm: {
                    formTitle: "",
                    objectId: 0,
                    categoryPath: "/",
                    metaCategoryId: 0,
                    metaDetailName: "",
                    metaDetailValue: "",
                    description: "",
                    sort: 0,
                    isDeleted: false,
                },
            };
        },
        methods: {
            //global
            getForm(sub, form) {
                form = $.extend(true, {}, form);//深拷贝
                for (var key in sub) {
                    form[key] = sub[key];
                }
                return form;
            },
            //tree      //this.$refs.asideTree
            initTreeData() {
                var url = this.baseUrl + "/api/MetadataManage/Category", para = "";
                Common.InvokeWebApi(url, "GET", "error", "", true, (data) => {
                    this.treeData = data;
                    console.log(this.treeData);
                });
            },
            postTreeEdit() {
                var url = this.baseUrl + "/api/MetadataManage/Category";
                Common.InvokeWebApi(url, "POST", "error", this.treeForm, true, (data) => {
                    this.initTreeData();
                });
            },
            postTreeDelete(id, callback = null) {
                var url = this.baseUrl + "/api/MetadataManage/Category";
                Common.InvokeWebApi(url, "DELETE", "error", {
                    id: id
                }, true, (data) => {
                    this.initTreeData();
                    if (callback) {
                        callback();
                    }
                });
            },
            handleCurrentChange(data, node) {
                if (!node.isLeaf) {
                    return;
                }
                this.initTableData(data.objectId);
            },
            handleTreeAdd() {
                var node = this.$refs.asideTree.getCurrentNode();
                this.treeForm = this.getForm({
                    formTitle: "添加目录",
                    parentId: (node == null ? 0 : node.objectId),
                    metaCategoryPath: (node == null ? "/" : node.metaCategoryPath),
                }, this.treeForm);
                this.treeDialogVisible = true;
            },
            handleTreeEdit() {
                var node = this.$refs.asideTree.getCurrentNode();
                if (node === null) {
                    return;
                }
                this.treeForm = this.getForm({
                    formTitle: "修改目录",
                    metaCategoryPath: (node.parentId == null || node.parentId == 0 ? "/" : this.$refs.asideTree.getNode(node.parentId).data.metaCategoryPath),
                }, node);
                this.treeDialogVisible = true;
            },
            handleTreeDelete() {
                var node = this.$refs.asideTree.getCurrentNode();
                if (node == null) {
                    return;
                }
                this.postTreeDelete(node.objectId, () => {
                    this.$refs.asideTree.remove(node.objectId);
                });
            },
            handleTreeReset() {
                this.$refs.asideTree.setCurrentKey(null);
            },
            //treeForm
            treeFormConfirm() {
                if (this.treeForm.metaCategoryType == Metadata.MetadataProprertyTypeEnum.Entities) {
                    var obj = { "KeyType": "0", "Entities": [] };
                    for (var ele in this.metaTreeData) {
                        var name = this.metaTreeData[ele].metaCategoryName;
                        var type = this.metaTreeData[ele].metaCategoryType;
                        if (name != "") {
                            obj.Entities.push({
                                "name": name,
                                "type": type.toString()
                            })
                        }
                    }
                    this.treeForm = this.getForm({
                        keyValueMetadata: JSON.stringify(obj),
                        metaCategoryPath: this.treeForm.metaCategoryPath + "/" + this.treeForm.metaCategoryName
                    }, this.treeForm);
                }
                this.postTreeEdit();
                this.treeDialogVisible = false;
            },
            treeFormAdd() {
                this.metaTreeData.push({
                    metaCategoryName: "",
                    metaCategoryType: Metadata.MetadataProprertyTypeEnum.String
                });
            },
            //table
            setTableData(obj, callback = null) {
                var url = this.baseUrl + "/api/MetadataManage/Detail";
                Common.InvokeWebApi(url, "GET", "error", obj, true, (data) => {
                    this.tableData = data;
                    console.log(data);
                    this.tableDeleteVisible = Array(data == undefined ? 0 : data.length);
                    this.tableDeleteVisible.fill(false);
                    if (callback) {
                        callback();
                    }
                });
            },
            initSearchData() {
                if (this.searchInput == "") {
                    return;
                }
                this.setTableData({
                    keyWord: this.searchInput
                }, () => {
                    this.handleTreeReset();
                    this.searchInput = "";
                });
            },
            initTableData(id = 0) {
                if (id == undefined || id == 0) {
                    this.tableData = [];
                    return;
                }
                this.setTableData({
                    metaCategoryId: id
                });
            },
            handleTableAdd() {
                var node = this.$refs.asideTree.getCurrentNode();
                if (node == null || !this.$refs.asideTree.getNode(node.objectId).isLeaf) {
                    return;
                }
                this.tableForm = this.getForm({
                    formTitle: "添加属性",
                    categoryPath: node.metaCategoryPath,
                    metaCategoryId: node.objectId
                }, this.tableForm);
                this.tableDeleteVisible.push(false);
                this.tableDialogVisible = true;
            },
            handleTableEdit(index, row) {
                this.tableForm = this.getForm({
                    formTitle: "修改属性",
                }, this.tableData[index]);
                //this.tableData.splice(index, 1, this.tableData[0]);
                this.tableDialogVisible = true;
            },
            handleTableDelete(tableData, index, row) {
                tableData.splice(index, 1);
                this.tableDeleteVisible.splice(index, 1);
            },
            //tableForm
            tableFormConfirm() {


                this.tableDialogVisible = false;
            },

        },
        watch: {
            treeDialogVisible(newVal, oldVal) {
                if (newVal == true) {
                    //初始化通用值
                    this.externSwitch = this.treeForm.isExternal ? "on" : "off";
                } else {
                    //还原为初始值
                    this.treeForm = {
                        objectId: 0,
                        parentId: 0,
                        formTitle: "",
                        metaCategoryPath: "/",
                        metaCategoryName: "",
                        metaCategoryType: Metadata.MetadataProprertyTypeEnum.String,
                        keyValueMetadata: '{"KeyType":"0","Entities":[]}',
                        isExternal: false,
                        externalWebApi: null,
                        description: null,
                        isDeleted: false,
                        permissionInherited: true
                    }
                    this.externSwitch = "off";
                }
            },
            tableDialogVisible(newVal, oldVal) {
                if (newVal) { }
                else {
                    this.tableForm = {
                        formTitle: "",
                        objectId: 0,
                        categoryPath: "/",
                        metaCategoryId: 0,
                        metaDetailName: "",
                        metaDetailValue: "",
                        description: "",
                        sort: 0,
                        isDeleted: false,
                    };
                }
            },
            externSwitch(newVal, oldVal) {
                this.treeForm.isExternal = newVal == "on" ? true : false;
            }
        },
        mounted: function () {
            this.initTreeData();
            //this.initTableData();
        },
        updated: function () {
            //使之前选择的节点恢复高亮
            var node = this.$refs.asideTree.getCurrentNode();
            if (node != null) {
                this.$refs.asideTree.setCurrentKey(node.objectId);
            }
        }
    })
</script>
</html>